@import '../../variables.scss';
$image-width: 680px;

.itemDetail {
  background: $grey-3;
  color: $dark;
  @include flex-centered-content;
  padding-bottom: 3rem;
  
  .container {
    width: $container-width;
    margin: 0 2rem;
  }

  .content {
    background: #fff;
    padding: 2rem;
    display: flex;

    .info {
      display: flex;

      .details {
        padding-left: 1rem;
        width: 100%;

        .condition {
          font-size: .75rem;
          margin-bottom: 1rem;
        }

        .title {
          font-size: 1.5rem;
          font-weight: 600;
          margin: 0 0 2rem;
        }

        .price {
          font-size: 2.875rem;
          font-weight: 400;
          display: flex;
          align-items: flex-start;
          line-height: 1;
          margin: 0 0 2rem;

          .decimals {
            font-size: 1.5rem;
            margin-top: 4px;
          }
        }

        .button {
          background: $button-primary;
          color: #fff;
          border-radius: 4px;
          width: 100%;
          padding: 12px;
          font-size: 1rem;
          border: none;
        }
      }
    }

    .description {
      width: $image-width;

      .image {
        max-height: $image-width;
        height: auto;
        width: $image-width;
        object-fit: contain;
      }

      .title {
        margin-bottom: 2rem;
        font-size: 1.75rem;
      }

      .text {
        font-size: 1rem;
        color: $grey-2;
        white-space: pre-line;
      }
    }
  }
}
