@import '../../variables.scss';
$button-width: 40px;

.search-bar {
  background: $primary;
  @include flex-centered-content;

  &__container {
    @include flex-centered-content;
    margin: 0 1rem;
    width: $container-width;
    flex-direction: row;
    margin: 0.75rem 0;
    height: 40px;
  }

  &__logo {
    height: 100%;
    width: auto;
    margin-right: 1.5rem;
  }

  &__input {
    flex-grow: 1;
    height: 30px;
    font-size: 18px;
    padding: 5px $button-width 5px 10px;
    border: none;
    border-radius: 2px;
  }

  &__button {
    margin-left: -$button-width;
    width: $button-width;
    height: 100%;
    border: none;
    @include flex-centered-content;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;

    img {
      width: 70%;
      height: auto;
    }

    &:hover {
      cursor: pointer;
    }
  }
}